.content {
  overflow: hidden;
  position: relative;
  height: 0;
  width: 100%;
  border-radius: 15px;
}

.hover {
  display: none;
  font-size: 3rem;
  padding: 40px;
}

.content:hover .hover {
  display: initial;
}

// if device cannot hover always show hover
@media (hover: none) {
  .content .hover {
    display: initial;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
