@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

* {
  box-sizing: border-box;
}

html,
body {
  color: black;
  padding: 0;
  margin: 0;
  font-family: "acumin-pro-wide";
}

body {
  background-color: white;
}

body:not(.hide-original-cursor) * {
  cursor: auto;
}

body.hide-original-cursor * {
  cursor: none;
}

a {
  text-decoration: none;
  color: inherit;
}
