.image {
  position: relative;
  height: 100%;
  width: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.placeholder {
  filter: "blur(2rem)";
  transform: "scale(1.2)";
}
