@import "../node_modules/bulma/sass/utilities/mixins.sass";

.beforeafter {
  display: flex;
  justify-content: space-between;
}

.beforeafter a {
  font-size: 1.75rem;
}

@include mobile {
  .project {
    display: none;
  }
}
